.hero {
  position: relative;
  height: 80vh;
}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 800px;
  z-index: 1;
}

.hero-content {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12rem;
}

.hero-content h2 {
  color: white;
  font-size: 3rem;
}

.hero-topimg {
  position: absolute;
  right: 150px;
  top: 30px;
  z-index: 2;
  height: 450px;
}

.hero-content a {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid white;
  border-radius: 2rem;
  text-decoration: none;
  color: white;
}

@media (max-width: 900px) {
  .hero-content {
    padding-left: 2rem;
  }

  .hero-topimg {
    display: none;
  }
}
