.menubar {
  display: flex;
  background-color: #217bdc;
  color: white;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.navigation-items ul {
  list-style: none;
  display: flex;
}

.navigation-items li {
  display: inline-block;
  margin-right: 1rem;
}

.navigation-items a {
  text-decoration: none;
  color: inherit;
}

.icons span {
  display: inline-block;
  margin-right: 0.5rem;
}

.logo-box img {
  width: 50px;
}

@media (max-width: 900px) {
  .menubar {
    flex-direction: column;
  }
  .icons {
    display: none;
  }
}
